<mat-toolbar class="app-toolbar mat-elevation-z5">
  <span class="toolbar-header">
    <mat-icon>perm_identity</mat-icon>
        Gaurdian
    <mat-icon>perm_identity</mat-icon>
  </span>
  <div class="toolbar-spacer"></div>
  <a mat-button routerLink="addShift">שיבוץ שמירה</a>
  <a mat-button>לוח שמירות</a>
  <a mat-button>טפסי נשק</a>
</mat-toolbar>
