<div style="padding:5em" class="add-shifts-container">
  <h3>או סיירת, או ניירת.</h3>
  <mat-form-field>
    <mat-label>בחר תאריך לשיבוץ</mat-label>
    <input matInput [matDatepicker]="picker" [min]="todayDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>בחר ענף</mat-label>
    <mat-select [formControl]="groupsControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let group of groups" [value]="group">
        {{group.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="groupsControl.hasError('required')">איך תשבץ בלי ענף</mat-error>
  </mat-form-field>

  <form>
    <mat-form-field>
      <input type="text" placeholder="שבץ חייל" aria-label="Number" matInput [formControl]="assaignControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let soldier of filteredOptions | async" [value]="soldier">
          {{soldier}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <mat-form-field>
    <mat-label>איזה שמירה</mat-label>
    <mat-select [formControl]="shiftsControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let shift of shifts" [value]="shift">
        {{shift}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="shiftsControl.hasError('required')">בחר סוג שמירה</mat-error>
  </mat-form-field>

  <mat-row class="submit-container">
    <button mat-raised-button>סיים שיבוץ</button>
    <button mat-button style="color:rgb(0, 177, 74);">שבץ חייל נוסף</button>
  </mat-row>
</div>
